<!DOCTYPE html>
<html lang="en">
<head>
    <title>pepMAP</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
        }
        .loader {
            border: 4px solid #f3f3f3;
            border-radius: 50%;
            border-top: 4px solid #414141;
            width: 25px;
            height: 25px;
            animation: spin 2s linear infinite;
            margin: auto;
        }
        .button-loader {
            width: 8px;
            height: 8px;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        #peptides_plot, #features_plot {
            display: none;
            margin-top: 10px;
        }
        .form-container {
            display: inline-block;
            margin-top: 20px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            text-align: left;
            width: 600px;
        }
        .timer_container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 12px;
        }
        .form-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
        .form-group label {
            margin-right: 10px;
            flex: 0 0 40%;
            text-align: right;
        }
        .form-group input,
        .form-group select {
            text-align: left;
            flex: 1;
        }
        .form-group button
        {
            flex: 1;
        }
        input[type="text"],
        input[type="file"],
        button {
            width: 100%;
        }
        .error-message {
            color: red;
            margin-top: 20px;
        }
        .hidden {
            display: none;
        }
        .data-filenames {
            font-size: 12px;
        }
        #proteotypic_container input[type="checkbox"] {
            flex: 0;
            margin-left: 0;
            margin-right: auto;
        }
        #fasta_filename, #report_filename {
            flex: 0;
            margin-left: 0;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <h1>pepMAP</h1>
    <div class="form-container">
        <form>
            <div class="form-group">
                <label for="report_file">DIA-NN Report:</label>
                <input type="file" id="report_file" name="report_file">
                <span id="report_filename" class="hidden data-filenames"></span>
            </div>
            <div class="form-group">
                <label for="fasta_file">FASTA Database:</label>
                <input type="file" id="fasta_file" name="fasta_file">
                <span id="fasta_filename" class="hidden data-filenames"></span>
            </div>
            <div class="form-group">
                <label for="organism">Organism:</label>
                <select id="organism" name="organism">
                    <option value="HUMAN">Human</option>
                    <option value="MOUSE">Mouse</option>
                </select>
            </div>
            <div class="form-group" id="proteotypic_container">
                <label for="proteotypic_checkbox">Proteotypic:</label>
                <input type="checkbox" id="proteotypic_checkbox" name="proteotypic_checkbox">
            </div>
            <div class="form-group">
                <button type="button" id="upload_button">Upload Files</button>
                <button type="button" id="new_report_button" class="hidden">New Report</button>
            </div>
            <div class="form-group hidden" id="search_container">
                <label for="search_input">Search:</label>
                <input type="text" id="search_input" name="search_input" placeholder="UniProt ID or Gene Symbol">
                <button type="button" id="submit_button">Map Peptides</button>
            </div>
            <div class="timer_container">
                <div id="timer" class="timer hidden">Session will expire in 30:00 minutes</div>
            </div>
        </form>
    </div>

    <div id="peptides_plot"><div class="loader"></div></div>
    <div id="features_plot"><div class="loader"></div></div>

    <script>
        let sessionTime = 1800;
        let timeoutInterval;
        let persistentHoverLayer = null;

        function startTimer(duration, display) {
            let timer = duration, minutes, seconds;
            let interval = setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = 'Session will expire in ' + minutes + ":" + seconds + ' minutes';

                if (--timer < 0) {
                    clearInterval(interval);
                    fetch('/flush', { method: 'POST' })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Session flushed:', data);
                        location.reload();
                    })
                    .catch(error => console.error('Error flushing session:', error));
                }
            }, 1000);
            return interval;
        }

        function resetTimer() {
            clearTimeout(timeoutInterval);
            let display = document.querySelector('#timer');
            timeoutInterval = startTimer(sessionTime, display);
        }

        function stopTimer() {
            clearTimeout(timeoutInterval);
        }

        window.onload = function () {
            var display = document.querySelector('#timer');
            if (!display.classList.contains('hidden')) {
                startTimer(sessionTime, display);
            }
        };

        document.getElementById('search_input').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                document.getElementById('submit_button').click();
            }
        });

        document.getElementById('upload_button').addEventListener('click', function() {
            let formData = new FormData();
            let uploadButton = document.getElementById('upload_button');
            let originalButtonHtml = uploadButton.innerHTML;
            uploadButton.innerHTML = '<div class="loader button-loader"></div>';
            uploadButton.disabled = true;

            formData.append('report_file', document.getElementById('report_file').files[0]);
            formData.append('fasta_file', document.getElementById('fasta_file').files[0]);
            formData.append('organism', document.getElementById('organism').value);

            fetch('/upload', {
                method: 'POST',
                body: formData,
            }).then(response => response.json())
              .then(data => {
                  document.getElementById('report_filename').textContent = document.getElementById('report_file').files[0].name;
                  document.getElementById('fasta_filename').textContent = document.getElementById('fasta_file').files[0].name;
                  document.getElementById('report_filename').classList.remove('hidden');
                  document.getElementById('fasta_filename').classList.remove('hidden');
                  document.getElementById('report_file').classList.add('hidden');
                  document.getElementById('fasta_file').classList.add('hidden');
                  document.getElementById('organism').disabled = true;
                  uploadButton.classList.add('hidden');
                  document.getElementById('search_container').classList.remove('hidden');
                  document.getElementById('new_report_button').classList.remove('hidden');
                  document.getElementById('timer').classList.remove('hidden');
                  resetTimer();
              })
              .catch(error => {
                  console.error('Error:', error);
              })
              .finally(() => {
                  uploadButton.innerHTML = originalButtonHtml;
                  uploadButton.disabled = false;
              });
        });

        document.getElementById('new_report_button').addEventListener('click', function() {
            fetch('/flush', {
                method: 'POST',
            }).then(() => {
                document.getElementById('report_file').classList.remove('hidden');
                document.getElementById('fasta_file').classList.remove('hidden');
                document.getElementById('organism').disabled = false;
                document.getElementById('upload_button').classList.remove('hidden');
                document.getElementById('report_filename').classList.add('hidden');
                document.getElementById('fasta_filename').classList.add('hidden');
                document.getElementById('search_container').classList.add('hidden');
                document.getElementById('new_report_button').classList.add('hidden');
                document.getElementById('peptides_plot').style.display = 'none';
                document.getElementById('features_plot').style.display = 'none';
                document.getElementById('timer').classList.add('hidden');
                stopTimer();
            });
        });

        function fetchPlots() {
            $('#peptides_plot, #features_plot').show().html('<div class="loader"></div>');

            let formData = new FormData();
            formData.append('search_input', $('#search_input').val());
            formData.append('proteotypic_checkbox', $('#proteotypic_checkbox').is(':checked'));

            $.ajax({
                url: '/plot_peptides',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function(data) {
                    $('#peptides_plot').html(data);
                    applyCrispEdgesToColorbar();
                    var peptidePlotDiv = document.getElementById('peptides_plot').getElementsByClassName('js-plotly-plot')[0];
                    if (peptidePlotDiv) {
                        setupPersistentHover(peptidePlotDiv);
                    }
                },
                error: function(xhr) {
                    let errorMsg = 'Failed to load peptides plot.';
                    if (xhr.responseJSON && xhr.responseJSON.error) {
                        errorMsg += ' (' + xhr.responseJSON.error + ')';
                    } else {
                        errorMsg += ' (Unknown Error)';
                    }
                    errorMsg = '<div class="error-message">' + errorMsg + '</div>';
                    $('#peptides_plot').html(errorMsg);
                }
            });

            $.ajax({
                url: '/plot_features',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function(data) {
                    $('#features_plot').html(data);
                    const featurePlotDiv = document.getElementById('features_plot').getElementsByClassName('js-plotly-plot')[0];
                    if (featurePlotDiv) {
                        setupPersistentHover(featurePlotDiv);
                    }
                },
                error: function(xhr) {
                    let errorMsg = 'Failed to load features plot.';
                    if (xhr.responseJSON && xhr.responseJSON.error) {
                        errorMsg += ' (' + xhr.responseJSON.error + ')';
                    } else {
                        errorMsg += ' (Unknown Error)';
                    }
                    errorMsg = '<div class="error-message">' + errorMsg + '</div>';
                    $('#features_plot').html(errorMsg);
                }
            });
        }

        function setupPersistentHover(plotDiv) {
            const mainSvgs = plotDiv.querySelectorAll('.main-svg');
            if (mainSvgs.length === 0) {
                console.error("No main SVG elements found in plot");
                return;
            }

            const targetSvg = mainSvgs[1];
            const layerAbove = targetSvg.querySelector('.layer-above');
            if (!layerAbove) {
                console.error("Layer-above element not found in plot");
                return;
            }

            let persistentHoverLayer = layerAbove.querySelector('.persistent-hoverlayer');
            if (!persistentHoverLayer) {
                persistentHoverLayer = document.createElementNS("http://www.w3.org/2000/svg", "g");
                persistentHoverLayer.classList.add("persistent-hoverlayer");
                const shapelayer = layerAbove.querySelector('.shapelayer');
                if (shapelayer) {
                    shapelayer.after(persistentHoverLayer);
                } else {
                    layerAbove.appendChild(persistentHoverLayer);
                }
            }

            plotDiv.on('plotly_click', function(data) {
                const hoverLayer = plotDiv.getElementsByClassName("hoverlayer")[0];
                if (hoverLayer) {
                    const hoverBox = hoverLayer.getElementsByClassName("hovertext")[0];
                    if (hoverBox) {
                        const existingHoverBox = Array.from(persistentHoverLayer.children).find(child =>
                            child.textContent === hoverBox.textContent
                        );

                        if (existingHoverBox) {
                            existingHoverBox.remove();
                        } else {
                            const persistentHoverBox = hoverBox.cloneNode(true);
                            persistentHoverBox.style.pointerEvents = 'all';

                            // generate a unique id for the hover box
                            const hoverBoxId = 'hover-' + Date.now();
                            persistentHoverBox.setAttribute('id', hoverBoxId);

                            persistentHoverBox.addEventListener('click', function(e) {
                                e.stopPropagation();
                                this.remove();
                            });

                            persistentHoverLayer.appendChild(persistentHoverBox);
                        }
                    }
                }
            });
        }

        function applyCrispEdgesToColorbar() {
            const colorbarGroups = document.querySelectorAll('g.colorbar');
            colorbarGroups.forEach(group => {
                const rects = group.querySelectorAll('rect');
                rects.forEach(rect => {
                    rect.setAttribute('shape-rendering', 'crispEdges');
                });
            });
        }

        $(document).ready(function() {
            $('#submit_button').click(function(e) {
                e.preventDefault();
                fetchPlots();
                resetTimer();
            });
        });
    </script>
</body>
</html>
