<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pepMAP</title>
</head>
<body>
    <h1>Upload DIANN Report and FASTA Files</h1>
    <form action="/plot" method="post" enctype="multipart/form-data">
        <label for="uniprot_id">Uniprot ID:</label>
        <input type="text" name="uniprot_id" required><br><br>
        <label for="report_file">DIANN Report (.tsv file):</label>
        <input type="file" id="report_file" name="report_file" required><br><br>
        <label for="fasta_file">Proteome FASTA File:</label>
        <input type="file" id="fasta_file" name="fasta_file" required><br><br>
        <input type="submit" value="Upload and Plot">
    </form>
</body>
</html>
